# ignore everything
*

# especially MacOS
**/.DS_Store

#
# Don't ignore
#

!Library
# all the icons fonts
!Library/Fonts/*.ttf
# latex themes
!Library/texmf/**/*.sty

# banners
!banners/**/*

# laurisp
!laurisp/**/*

# .emacs.d
!.emacs.d/**/*

# git
!.gitignore
!.gitmodules

# README, LIC etc
!README.org
!LICENCE

# dorfiles
dotfiles/**/*